<div class="container">
  <h4>{{userSession.username}}'s Collections</h4>

  <form class="col s6" action="/card" method="POST">
    <fieldset>
      {{#message}}
      <p>{{.}}</p>
      {{/message}}
      <legend>Create a New Card</legend>
      <div class="row">
        <input type="hidden" name="userId" value="{{userSession.userId}}">
        <div class="input-field col s3">
          <input type="text" class="validate" name="question" required>
          <label for="question">Question</label>
        </div>
        <div class="input-field col s3">
          <input type="text" class="validate" name="answer" required>
          <label for="answer">Answer</label>
        </div>
        <div class="input-field col s3">
          <input type="text" class="validate" name="category" required>
          <label for="category">Collection/Category</label>
        </div>
        <div class="input-field col s3">
          <button class="cyan waves-effect waves-light btn" type="submit"><i class="material-icons right">call_made</i>Create!</button>
        </div>
      </div>
    </fieldset>
  </form>

  <form class="col s6" action="/card/category" method="GET">
    <fieldset>
      <legend>View a Collection of Cards</legend>
      <div class="input-field col s6">
      <select>
        <option value="" selected>Choose your collection</option>
        {{#cards.category}}
        <option value="{{.}}">{{.}}</option>
        {{/cards.category}}
      </select>
    </div>
    <div class="input-field col s3">
      <button class="cyan waves-effect waves-light btn" type="submit"><i class="material-icons right">call_made</i>View</button>
    </div>
    </fieldset>
  </form>

  <div class="container">
    {{#cards}}
    <div class="row">
      <div class="card col s4">
        <div class="card-image waves-effect waves-block waves-light sticky-action">
          <!-- <img class="activator" src="images/office.jpg"> -->
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{category}}<i class="material-icons right">more_vert</i></span>
          <p>{{question}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>{{answer}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



{{/cards}}
