
<section class="container home-container">
  <h1 class="welcome">Hey there, {{userSession.username}}!</h1>

<section class="container">


  <form class="form-group form-inline" action="/card/category" method="post">
    <input type="hidden" name="userId" value="{{userSession.userId}}">
    <select class="category form-control" name="category">
      <option value="">Select a Category</option>
      {{#categories}}
      <option value="{{.}}">{{.}}</option>
      {{/categories}}
    </select>
    <input class="form-control btn btn-primary" type="submit" name="submit" value="Start quiz!">
  </form>


</section>
</section>
