
  <div class="row">
    <form class="col s6 signupForm" action="/user" method="POST">
      <fieldset>
        <legend>Sign Up for Flashcards</legend>

        {{#valErrors}}
          <h5>{{.}}</h5>
        {{/valErrors}}

        {{#message}}
        <h5>{{.}}</h5>
        {{/message}}

        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate" name="username" required>
            <label for="username">Username</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" name="password" required>
            <label for="password">Password</label>
          </div>
          <div class="input-field col s6">
            <input id="passwordConf" type="password" class="validate" name="passwordConf" required>
            <label for="passwordConf">Confirm Password</label>
          </div>
          <div class="input-field col s12">
            <button id= "signupSubmit" class="cyan waves-effect waves-light btn" type="submit"><i class="material-icons right">call_made</i>Sign Me Up!</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
