<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="en">
    <title>Popquiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body class="container">
    <header class="navbar navbar-default navbar-fixed-top">
      <nav>
        <ul class="list-inline list-unstyled">
          <li class="navbar-brand"><span class="glyphicon glyphicon glyphicon-ice-lolly-tasted"></span><b class="popquiz">popquiz</b></li>
          {{#userSession}}
          <li class="logout navbar-right">Logged in as {{username}} | <a href="/user/collections">Home | </a> <a href="/logout">Log Out</a></li>
          {{/userSession}}

          {{^userSession}}
          <li class="logout navbar-right"><a href="/user/login">Log In</a></li>
          {{/userSession}}
          <li></li>
        </ul>
      </nav>
    </header>
  </body>

  {{{yield}}}
</html>
