
<section class="container home-container">
  <h1 class="welcome">Let's Quiz, {{userSession.username}}!</h1>

  <section class="container">

    <h3>{{category}}</h3>

  {{#cards}}
  {{#showCard}}
    <div class="container">
      <ul class="list-unstyled">
        <li><h3>Question: {{question}}</h3></li>
        {{#showAnswer}}
        <li><h4>Answer: {{answer}}</h4></li>

        <li><form class="form-inline" action="/card/guess" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <input type="hidden" name="category" value="{{category}}">
            <label for="completed" class="form-control compl-label"> Successful guess?
              yes<input type="checkbox" name="correct" value="true" class="">
              no<input type="checkbox" name="correct" value="false" class="">
            </label>
          <input type="submit" name="response" value="Submit Response" class="form-control btn btn-primary">
        </form></li>
        {{/showAnswer}}

        {{^showAnswer}}
        <li><form class="form-inline" action="/card/answer" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <input type="hidden" name="category" value="{{category}}">
          <input type="submit" name="showAnswer" value="View Answer" class="form-control btn btn-primary">
        </form></li>
        {{/showAnswer}}


        <li class="panel panel-default">
          <p class="panel-title">Your recent guesses:</p>
          <ul class="panel-body">
          {{#guesses}}
            <li>{{correct}} ({{date}})</li>
          {{/guesses}}
          </ul>
        </li>

        <li><form class="form-inline" action="/card/update" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <input type="hidden" name="category" value="{{category}}">
          <input type="text" name="question" value="" placeholder="Question" class="form-control">
          <input type="text" name="answer" value="" placeholder="Answer" class="form-control">
          <input type="text" name="newCategory" value="" placeholder="Category" class="form-control">
          <input type="submit" name="view" value="Edit Card" class="form-control btn btn-primary like-btn">
        </form></li>

        <li><form class="form-inline" action="/card/delete" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <input type="hidden" name="category" value="{{category}}">
          <input type="submit" name="delete" value="Delete Card" class="form-control btn btn-primary">
        </form></li>


      </ul>
    </div>
    {{/showCard}}
    {{/cards}}

  </section>
</section>
